server:
  port: 8080

spring:
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

      routes:
        - id: auth-service
          uri: http://localhost:8084
          predicates:
            - Path=/auth/**

        - id: job-service
          uri: http://localhost:8082
          predicates:
            - Path=/jobs/**

        - id: recommendation-service
          uri: http://localhost:8083
          predicates:
            - Path=/recommendations/**
